GROQ_API_KEY=your_groq_key_here
GROQ_MODEL=llama-3.3-70b-versatile
LANGCHAIN_API_KEY=your_langsmith_key_here
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_PROJECT=naive-rag-project
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_key_here
LANGSMITH_PROJECT=naive-rag-project
CHROMA_PERSIST_DIR=./chroma_db
DOCS_DIR=./docs
